<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" /> 
		<title>WebSocket Test</title> 
		<script language="javascript" type="text/javascript">
			var wsUri = "ws://localhost:9000/watchCollection";
			var output;
			function init() {
				output = document.getElementById("output"); testWebSocket();
				document.getElementById("message").addEventListener("submit", function(evt) {
					var title = document.getElementById("title")
					var content = document.getElementById("content")
					console.log(title.value, content.value)
					websocket.send(JSON.stringify({title: title.value, content: content.value}))
					evt.stopPropagation()
					evt.preventDefault()
				})
			}
			function testWebSocket() {
				websocket = new WebSocket(wsUri);
				websocket.onopen = function(evt) { onOpen(evt) };
				websocket.onclose = function(evt) { onClose(evt) };
				websocket.onmessage = function(evt) { onMessage(evt) };
				websocket.onerror = function(evt) { onError(evt) };
			}
			function onOpen(evt) {
				/*writeToScreen("CONNECTED");*/
			}
			function onClose(evt) { /*writeToScreen("DISCONNECTED");*/ }
			function onMessage(evt) { writeToScreen('<span style="color: blue;">' + new Date() + ': ' + evt.data+'</span>'); }
			function onError(evt) { writeToScreen('<span style="color: red;">ERROR:</span> ' + evt.data); }
			function doSend(message) { writeToScreen("SENT: " + message);  websocket.send(message); }
			function writeToScreen(message) { var pre = document.createElement("p"); pre.style.wordWrap = "break-word"; pre.innerHTML = message; output.insertBefore(pre, output.firstChild); }
			window.addEventListener("load", init, false);
		</script>
		<style type="text/css">
			label { display: block; width: 150px; }
			input#submit { display: block; }
			#message {float: left; }
			#outputWrapper { float:left; margin-left: 30px; }
		</style>
	</head>
	<body>
		<form id="message">
			<h2>Create a message</h2>
			<label for="title">Title</label><input id="title" name="title" type="text" placeholder="title" />
			<label for="content">Content</label><textarea id="content" name="content"></textarea>
			<input id="submit" type="submit" />
		</form>
		<div id="outputWrapper">
			<h2>Capped collection</h2>
			<div id="output"></div>
		</div>
	</body>
</html>